<button type="button" class="btn but1" routerLink="/">Назад</button>
<div class="bl1 text-center">
  <p class="h4 mb-4">Здравствуйте!</p>
  <p>Введите свой логин и пароль для авторизации.</p>
  <input
    [(ngModel)]="login"
    type="text" name="login" id="defaultSubscriptionFormPassword" class="form-control mb-4" placeholder="Логин"
    #loginField="ngModel" required pattern="[A-Za-z0-9А-Яа-яЁё\D\s]{5,}">
  <input
    [(ngModel)]="password"
    type="password" name="password" id="defaultSubscriptionFormEmail" class="form-control mb-4" placeholder="Пароль"
    #passwordField="ngModel" required pattern="[A-Za-z0-9А-Яа-яЁё\D\s]{5,}">
  <button
    (click)="logIn(authorizationModal)"
    class="btn btn-block but2" type="submit" routerLink="/">Войти</button>
</div>
<ng-template #authorizationModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Ошибка!</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Введен неверный логин или пароль.
  </div>
</ng-template>
