.nav1 {
  background: #fb8d68;
}

.nav2 {
  color: white;
  font-size: 30px;
  font-weight: 700;
}

.but1 {
  color: #fb8d68;
  background: white;
  font-size: 18px;
  font-weight: 600;
}

.but1:hover {
  background: whitesmoke;
}
